// Заголовки, общие БЄМ блоки и проче...

//* Title ====================================================================================================//

.headline {
	@include adaptiveValue("font-size", 48, 26);
	font-weight: 300;
	text-transform: uppercase;
	position: relative;
	@include adaptiveValue("margin-bottom", 60, 40);
	line-height: 120%;
	&::after{
		content: '';
		position: absolute;
		bottom: -25px;
		left: -65px;
		@include adaptiveValue("width", 200, 130, 1770, 500, 1);
		@include adaptiveValue("height", 10, 6, 1770, 500, 1);
		background-color: #000;
		@media (max-width: 767px) {
			bottom: -15px;
		}
	}
}

//* crumbs ====================================================================================================//

.crumbs {
	//@include adaptiveValue("padding-top", 130, 80, 1770, 767, 1);
	padding-top: 130px;
	@media (max-width: 767px) {
		padding-top: 80px;
	}
	&__container {
	}
	&__list{
		display: flex;
		align-items: center;
		user-select: none;
		font-size: 16px;
		li:not(:last-child){
			color: #666666;
			position: relative;
			&::after{
				content: '/';
				position: absolute;
				top: 0;
				right: 5px;
			}
		}
		a{
			padding-right: 20px;
			transition: all 0.1s ease 0s;
		}
		a:hover{
			color: #000;
		}
	}
	@media (max-width: 767px) {
		display: none;
	}
}



//* button ====================================================================================================//

.button {
	&__gray {
		color: #fff;
		@include adaptiveValue("font-size", 24, 18);
		border: 1px solid #C4C4C4;
		background: rgba(17, 17, 17, 0.60);
		@include adaptiveValue("height", 75, 60, 1770, 992, 1);
		@include adaptiveValue("width", 350, 270, 1170, 992, 1);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease 0s;
		&:hover{
			border: 1px solid #C4C4C4;
			background: rgba(17, 17, 17, 0.90);
		}
	}
}

// button-black =================//

.button-black {
	color: #fff;
	@include adaptiveValue("font-size", 36, 18);
	font-weight: 300;
	background-color: #000;
	border: 1px solid #000;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease 0s;
	&:hover{
		//border: 1px solid #C4C4C4;
		background: rgba(17, 17, 17, 0.90);
	}
}

// buttons page-choice ====================================================================================================//

.page-choice {
	@include adaptiveValue("padding-top", 40, 30, 1770, 767, 2);
	padding-bottom: 30px;
	@media (max-width: 767px) {
		padding-top: 100px;
	}
	&__container {
		display: flex;
		@include adaptiveValue("gap", 30, 10);
		justify-content: center;
	}
	&__button {
		flex: 0 1 50%;
		width: 100%;
		max-width: 200px;
		@include adaptiveValue("height", 60, 50);
		border: 1px solid #000;
		background: rgba(242, 242, 242, 0.00);
		color: #4f4f4f;
		@include adaptiveValue("font-size", 18, 16);
		font-weight: 300;
		transition: all 0.3s ease 0s;
		&:hover{
			background: rgba(17, 17, 17, 0.20);
			border: 1px solid rgba(17, 17, 17, 0.30);
			color: #000;
		}
	}
}
.page-choice_m{
	@include adaptiveValue("padding-top", 80, 40);
}
.page-choice__button._active{
	background-color: #000;
	color: #fff;
	&:hover{
		background: rgba(17, 17, 17, 0.75);
		border: 1px solid #000;
	}
}


//!  ====================================================================================================//

//* request ====================================================================================================//

.request {
	@include adaptiveValue("padding-top", 40, 30);
	@include adaptiveValue("padding-bottom", 40, 30);
	border-top: 1px solid #BDBDBD;
	border-bottom: 1px solid #BDBDBD;
	&__container {
		display: flex;
		@include adaptiveValue("gap", 100, 50, 1770, 500, 1);
		align-items: center;
		background-color: #f2f2f2;
		@include adaptiveValue("padding-top", 100, 40);
		@include adaptiveValue("padding-bottom", 100, 50);
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}
	&__text {
		flex: 0 1 50%;
		@include adaptiveValue("font-size", 36, 18);
		font-weight: 500;
		line-height: 140%;
		@media (max-width: 767px) {
			flex: 0 1 100%;
			text-align: center;
		}
	}
	&__button-block{
		flex: 0 1 50%;
		text-align: center;
		@media (max-width: 767px) {
			flex: 0 1 100%;
		}
	}
	&__button {
		width: 100%;
		max-width: 670px;
		@include adaptiveValue("height", 110, 65, 1770, 500, 1);
		@media (max-width: 767px) {
			max-width: 400px;
		}
	}
}
.request_m{
	border: none;
}

//! data-change ====================================================================================================//

//[data-change]{
//	>img{
//		&:nth-child(1){
//			@media (max-width: 500px) {
//				display: none;
//			}
//		}
//		&:nth-child(2){
//			display: none;
//			@media (max-width: 500px) {
//				display: block;
//			}
//		}
//	}
//}

//  =================//

[data-change]{
	>img{
		&:nth-child(1){
			@media (max-width: 500px) {
				display: none;
			}
		}
		&:nth-child(2){
			display: none;
			@media (max-width: 500px) {
				display: block;
			}
		}
	}
	>picture{
		&:nth-child(1){
			@media (max-width: 500px) {
				display: none;
			}
		}
		&:nth-child(2){
			display: none;
			@media (max-width: 500px) {
				display: block;
			}
		}
	}
}

//  =================//

//[data-change = '2']{
	
//	[change-1]{
//		@media (max-width: 500px) {
//			display: none;
//		}
//	}
//	[change-2]{
//		display: none;
//		@media (max-width: 500px) {
//			display: block;
//		}
//	}
//}

//  =================//

[data-change = "3"]{
	>img{
		&:nth-child(1){
			@media (max-width: 992px) {
				display: none;
			}
		}
		&:nth-child(2){
			display: none;
			@media (max-width: 992px) {
				display: block;
			}
			@media (max-width: 500px) {
				display: none;
			}
		}
		&:nth-child(3){
			display: none;
			@media (max-width: 500px) {
				display: block;
			}
		}
	}
	>picture{
		&:nth-child(1){
			@media (max-width: 992px) {
				display: none;
			}
		}
		&:nth-child(2){
			display: none;
			@media (max-width: 992px) {
				display: block;
			}
			@media (max-width: 500px) {
				display: none;
			}
		}
		&:nth-child(3){
			display: none;
			@media (max-width: 500px) {
				display: block;
			}
		}
	}
}