.page {
}

//* main-screen ====================================================================================================//

.main-screen {
	position: relative;
	padding-top: 100px;
	height: 100vh;
	background: linear-gradient(164deg, rgba(0, 0, 0, 0.40) -9.9%, rgba(0, 0, 0, 0.29) 113.34%);
		&__container {
			display: flex;
			flex-direction: column;
			height: 100%;
			//justify-content: center;
			align-items: center;
		}
		&__body {
			flex: 1 1 auto;
			@include adaptiveValue("margin-top", 80, 40);
		}
		&__title {
			text-align: center;
			@include adaptiveValue("font-size", 80, 50);
			color: #F2F2F2;
			font-weight: 300;
			@include adaptiveValue("padding-bottom", 190, 120);
		}
		&__buttons {
			display: flex;
			gap: 50px;
			@include adaptiveValue("gap", 50, 30, 1770, 767, 1);
			@media (max-width: 630px) {
				flex-wrap: wrap;
				justify-content: center;
			}
		}
		&__button {
		}
		&__arrow{
			text-align: center;
			padding: 20px 15px;
		}
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}
}

//* time ====================================================================================================//

.time {
	@include adaptiveValue("padding-top", 45, 10);
	@include adaptiveValue("padding-bottom", 60, 50);
	&__container {
		background-color: #F2F2F2;
		@media (max-width: 992px) {
			background-color: #F9F9F9;
		}
	}
	&__body {
		display: flex;
		margin: 0px -15px;
		@include adaptiveValue("padding-top", 40, 30);
		@include adaptiveValue("padding-bottom", 30, 25, 1770, 992, 2);
		@media (max-width: 992px) {
			flex-wrap: wrap;
		}
		@media (max-width: 400px) {
			padding-bottom: 20px;
		}
	}
	&__column {
		padding: 0px 15px;
		flex: 0 1 25%;
		color: #0E0E0E;
		@media (max-width: 992px) {
			flex: 0 1 50%;
			padding-bottom: 20px;
			&:nth-child(1){
				@media (min-width: 400px) {
					padding-bottom: 40px;
				}
			}
			&:nth-child(2){
				@media (min-width: 400px) {
					padding-bottom: 40px;
				}
			}
		}
		@media (max-width: 400px) {
			flex: 0 1 100%;
			text-align: center;
			padding-bottom: 30px;
			position: relative;
			&::after{
				content: '';
				position: absolute;
				bottom: 0;
				right: 50%;
				height: 10px;
				width: 10px;
				background-color: #0E0E0E;
				transform: translateX(50%);
			}
		}
	}
	&__title {
		@include adaptiveValue("font-size", 64, 48);
		padding-bottom: 15px;
		@media (max-width: 400px) {
			padding-top: 15px;
		}
	}
	&__sub-title {
		@include adaptiveValue("font-size", 28, 18);
		@include adaptiveValue("padding-bottom", 16, 12);
		padding-left: 28px;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			top: -3px;
			left: 0;
			width: 20px;
			height: 20px;
			background-color: #0E0E0E;
		}
		@media (max-width: 992px) {
			padding-left: 20px;
			&::before{
				width: 15px;
				height: 15px;
			}
		}
		@media (max-width: 400px) {
			&::before{
				display: none;
			}
		}
	}
	&__text {
		@include adaptiveValue("font-size", 18, 14);
		font-weight: 300;
		padding-left: 28px;
		@media (max-width: 992px) {
			padding-left: 20px;
		}
	}
}

//* cost ====================================================================================================//

.cost {
	&__container {
		@include adaptiveValue("padding-bottom", 120, 90);
	}
	&__title {
	}
	&__body {
		display: flex;
		margin: 0px -15px;
		@media (max-width: 600px) {
			flex-wrap: wrap;
		}
	}
	&__question {
		padding: 0px 15px;
		flex: 0 1 50%;
		@media (max-width: 600px) {
			flex: 0 1 100%;
		}
	}
	&__bonus {
		padding: 0px 15px;
		flex: 0 1 50%;
		@media (max-width: 600px) {
			flex: 0 1 100%;
		}
	}
}

// question-cost =================//

.question-cost {
	@include adaptiveValue("padding-bottom", 120, 80, 1770, 600, 2);
	@media (max-width: 600px) {
		padding-bottom: 35px;
	}
	&__sub-title {
		@include adaptiveValue("font-size", 48, 20);
		@include adaptiveValue("padding-bottom", 50, 20);
		line-height: 130%;
		@media (max-width: 600px) {
			text-align: center;
		}
	}
	&__text {
		@include adaptiveValue("font-size", 36, 18);
		line-height: 140%;
		color: #333;
		@include adaptiveValue("padding-bottom", 150, 50, 1770, 600, 2);
		@media (max-width: 600px) {
			text-align: center;
		}
	}
	&__button {
		padding: 35px 100px;
		@media (max-width: 992px) {
			padding: 25px 0px;
			width: 100%;
		}
	}
}

// bonus-cost =================//

.bonus-cost {
	&__image {
		@include adaptiveValue("margin-bottom", 35, 25);
		position: relative;
		padding-bottom: 55%;
		svg{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: 600px) {
			transform: translateX(-100px);
		}
	}
	&__content {
		@media (max-width: 600px) {
			@include adaptiveValue("padding-bottom", 60, 40, 600, 320, 1);
		}
	}
	&__label {
		@include adaptiveValue("font-size", 36, 18);
		line-height: 140%;
		@include adaptiveValue("padding-bottom", 15, 8);
	}
	&__text {
		color: #333;
		@include adaptiveValue("font-size", 36, 14);
		font-weight: 300;
		line-height: 140%;
		position: relative;
		padding-left: 25px;
		&:not(:last-child){
			@include adaptiveValue("padding-bottom", 25, 15);
		}
		@media (max-width: 992px) {
			padding-left: 17px;
		}
		&::after{
			content: '';
			position: absolute;
			top: 8px;
			left: 0;
			width: 15px;
			height: 15px;
			background-color: #0E0E0E;
			@media (max-width: 992px) {
			top: 8px;
			left: 0;
			width: 10px;
			height: 10px;
		}
		@media (max-width: 600px) {
			top: 5px;
		}
		}
	}
}


//* service ====================================================================================================//

.service {
	&__container {
	}
	&__title {
	}
	&__body {
		display: flex;
		@media (max-width: 1300px) {
			flex-wrap: wrap;
		}
	}
	&__column {
		flex: 0 1 25%;
		@media (max-width: 1300px) {
			flex: 0 1 50%;
		}
		@media (max-width: 500px) {
			flex: 0 1 100%;
		}
	}
	&__image {
		position: relative;
		padding-bottom: 110%;
		@media (max-width: 500px) {
			margin: 0px -15px;
		}
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		@include adaptiveValue("margin-top", 70, 15);
		padding-bottom: 40px;
		padding-left: 15px;
		max-width: 320px;
		position: relative;
		&::after{
			content: '';
			position: absolute;
			top: -25px;
			left: 0;
			width: 20px;
			height: 20px;
			background-color: #4f4f4f;
		}
		@media (max-width: 767px) {
			&::after{
				top: -15px;
				width: 15px;
				height: 15px;
			}
		}
		@media (max-width: 500px) {
			text-align: center;
			max-width: none;
			&::after{
				width: 10px;
				height: 10px;
				top: calc(100% - 30px);
				left: 50%;
			}
		}
	}
	&__label {
		@include adaptiveValue("font-size", 48, 24);
		font-weight: 500;
		color: #0e0e0e;
		@include adaptiveValue("padding-bottom", 25, 15);
	}
	&__text {
		@include adaptiveValue("font-size", 18, 14);
		line-height: 147%;
		color: #4f4f4f;
	}
}

//* our-projects ====================================================================================================//

.our-projects {
	margin-bottom: 50px;
	&__container {
	}
	&__title {
	}
	&__body {
		@media (max-width: 992px) {
			margin: 0px -15px;
		}
	}
	&__element {
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		position: relative;
		flex: 0 1 33.333%;
		@media (max-width: 992px) {
			flex: 0 1 50%;
		}
		@media (max-width: 500px) {
			flex: 0 1 100%;
		}
	}
	&__button{
		color: #f2f2f2;
		font-weight: 300;
		font-size: 24px;
		background-color: #000;
		border: 1px solid #000;
		width: 270px;
		height: 65px;
		margin: 0 auto;
		display: flex;
		gap: 12px;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
		&:hover{
			svg{
				transition: all 100s ease 0s;
				transform: rotate(36000deg);
			}
		}
	}
}

.item-project {
	&__image {
		position: relative;
		padding-bottom: 114%;
		&::after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
		}
		@media (min-width: 992.1px) {
			&::after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.80);
				box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.25);
				opacity: 0;
				transition: all 0.4s ease 0s;
			}
		}
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&:hover{
			@media (min-width: 992.1px) {
				&::after{
					opacity: 1;
				}
				.item-project__button{
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
	&__description {
		padding: 18px 0px 50px 0px;
		@media (max-width: 992px) {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 1;
			@include adaptiveValue("padding-left", 60, 20);
			padding-bottom: 28px;
			padding-right: 20px;
		}
	}
	&__sub-title {
		@include adaptiveValue("font-size", 28, 18, 1770, 992, 1);
		padding-bottom: 12px;
		line-height: 130%;
		@media (max-width: 992px) {
			color: #fff;
		}
	}
	&__param{
		@media (max-width: 500px) {
			display: flex;
			gap: 10px;
			justify-content: space-between;
			align-items: center;
		}
	}
	&__style {
		@include adaptiveValue("font-size", 24, 18, 1770, 992, 1);
		color: #4f4f4f;
		font-weight: 300;
		padding-bottom: 12px;
		@media (max-width: 992px) {
			color: #fff;
		}
		@media (max-width: 500px) {
			padding-bottom: 0;
		}
	}
	&__space {
		@include adaptiveValue("font-size", 18, 16);
		color: #333;
		font-weight: 300;
		@media (max-width: 992px) {
			color: #fff;
		}
	}
	&__button {
		@media (min-width: 992.1px) {
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 315px;
			height: 75px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #cecece;
			font-size: 24px;
			@include adaptiveValue("font-size", 24, 20, 1770, 992, 1);
			font-weight: 300;
			border: 1px solid #cecece;
			background: rgba(196, 196, 196, 0.00);
			opacity: 0;
			visibility: hidden;
			transition: all 0.5s ease 0s;
			&:hover{
				border: 1px solid #fff;
				color: #fff;
				background: rgba(17, 17, 17, 0.90);
			}
		}
		@media (max-width: 1400px) {
			width: 220px;
			height: 60px;
		}
		@media (max-width: 992px) {
			font-size: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
	}
}

//* stages ====================================================================================================//

.stages {
	&__container {
	}
	&__title {
		max-width: 640px;
	}
	&__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -30px;
		@include adaptiveValue("padding-top", 70, 20);
		@media (max-width: 767px) {
			margin: 0px -15px;
		}
	}
	&__item {
		flex: 0 1 33.333%;
		padding: 0px 30px;
		@media (max-width: 992px) {
			flex: 0 1 50%;
		}
		@media (max-width: 767px) {
			padding: 0px 15px;
		}
		@media (max-width: 500px) {
			flex: 0 1 100%;
			text-align: center;
		}
		@include adaptiveValue("padding-bottom", 90, 50, 1770, 500, 1);
	}
	&__button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("gap", 50, 12);
		border: 1px solid #000;
		background: rgba(196, 196, 196, 0.00);
		width: 510px;
		height: 110px;
		@include adaptiveValue("font-size", 36, 24);
		font-weight: 300;
		@include adaptiveValue("margin-bottom", 75, 60);
		transition: all 0.3s ease 0s;
		svg path{
			transition: all 0.3s ease 0s;
		}
		&:hover{
			border: 1px solid #fff;
			background: rgba(17, 17, 17, 0.80);
			color: #fff;
			svg path{
				fill: #fff;
			}
		}
		@media (max-width: 992px) {
			width: 270px;
			height: 60px;
		}
		@media (max-width: 500px) {
			display: flex;
			margin-right: auto;
			margin-left: auto;
		}
		svg:nth-child(2){
			display: none;
			@media (min-width: 992px) {
				display: block;
			}
		}
		svg:last-child{
			display: none;
			@media (max-width: 992px) {
				display: block;
			}
		}
	}
}

// item-stages =================//

.item-stages {
	&__icon {
		//@include adaptiveValue("padding-bottom", 28, 15);
		@include adaptiveValue("padding-left", 90, 43, 1770, 500, 2);
	}
	&__box {
		display: flex;
		gap: 18px;
		@media (max-width: 992px) {
			gap: 10px;
		}
	}
	&__part {
		@include adaptiveValue("font-size", 64, 24);
		font-weight: 500;
		//@include adaptiveValue("padding-top", 13, 15);
		padding-top: 15px;
		@media (max-width: 500px) {
			display: none;
		}
	}
	&__content {
		@include adaptiveValue("padding-top", 28, 15);
	}
	&__label {
		background-color: #FAFF09;
		@include adaptiveValue("font-size", 32, 22);
		display: inline;
		font-weight: 700;
		padding: 5px 10px;
		@media (max-width: 500px) {
			display: inline-flex;
			gap: 7px;
			align-items: center;
			padding: 10px 15px;
			font-weight: 500;
		}
		span:first-child{
			display: none;
			@media (max-width: 500px) {
				display: block;
				font-size: 24px;
				font-weight: 500;
			}
		}
	}
	&__text {
		@include adaptiveValue("padding-top", 20, 10);
		@include adaptiveValue("font-size", 28, 14);
		color: #4f4f4f;
		line-height: 140%;
		@include adaptiveValue("padding-bottom", 25, 10);
		span{
			text-transform: uppercase;
		}
	}
	&__order {
		display: flex;
		align-items: center;
		gap: 5px;
		span{
			position: relative;
			&::after{
				position: absolute;
				content: '';
				bottom: -4px;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #000;
			}
		}
		@media (max-width: 500px) {
			justify-content: center;
		}
	}
}

//* we ====================================================================================================//

.we {
	position: relative;
	@include adaptiveValue("padding-top", 190, 50);
	@include adaptiveValue("padding-bottom", 220, 40);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
	&__one{
		@media (max-width: 500px) {
			display: none;
		}
	}
	&__two{
		display: none;
		@media (max-width: 500px) {
			display: block;
		}
	}
	img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}
	&__container {
	}
	&__box{
		@include adaptiveValue("padding-left", 500, 0, 1770, 500, 2);
	}
	&__title {
		@include adaptiveValue("font-size", 48, 18);
		color: #fff;
		line-height: 146%;
		font-weight: 300;
		@include adaptiveValue("padding-bottom", 100, 20);
		@media (max-width: 500px) {
			text-align: center;
		}
	}
	&__list {
		li{
			padding-left: 40px;
			@include adaptiveValue("font-size", 36, 16);
			font-weight: 300;
			line-height: 146%;
			color: #fff;
			position: relative;
			&::before{
				@media (min-width: 500px) {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 20px;
					height: 20px;
					background-color: #fff;
				}
			}
			@media (max-width: 992px) {
				padding-left: 25px;
				&::before{
					width: 15px;
					height: 15px;
				}
			}
			@media (max-width: 767px) {
				padding-left: 18px;
				&::before{
					width: 10px;
					height: 10px;
				}
			}
			@media (max-width: 500px) {
				padding-left: 0;
				text-align: center;
				&::before{
					content: '';
					bottom: 8px;
					left: 50%;
					width: 10px;
					height: 10px;
					position: absolute;
					background-color: #fff;
					transform: translateX(-50%);
				}
			}
			padding-bottom: 17px;
			@media (max-width: 500px) {
				padding-bottom: 24px;
			}
		}
	}
}

//* instagram ====================================================================================================//

.instagram {
	@include adaptiveValue("padding-top", 90, 60);
	@include adaptiveValue("padding-bottom", 130, 50);
	&__container {
	}
	&__title {
		@include adaptiveValue("padding-bottom", 30, 15);
		img{
			max-width: 100%;
		}
	}
	&__list {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		@media (max-width: 1200px) {
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		}
		@media (max-width: 700px) {
			grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
		}
		@media (max-width: 500px) {
			grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
			gap: 10px;
		}
	}
	&__item {
		position: relative;
		padding-bottom: 100%;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

//* catalog ====================================================================================================//

.catalog {
	&__container {
	}
	&__title {
		max-width: 490px;
	}
	&__body {
		display: flex;
		@include adaptiveValue("gap", 100, 30, 1770, 1300, 1);
		@media (max-width: 992px) {
			flex-wrap: wrap;
		}
	}
	&__image {
		flex: 0 1 50%;
		position: relative;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: 992px) {
			flex: 0 1 100%;
			padding-bottom: 46%;
		}
	}
	&__content {
		flex: 0 1 50%;
		@media (max-width: 992px) {
			flex: 0 1 100%;
		}
	}
}

// content-catalog =================//

.content-catalog {
	&__sub-title {
		@include adaptiveValue("font-size", 36, 18);
		font-weight: 500;
		line-height: 130%;
		@include adaptiveValue("padding-bottom", 40, 10);
		@media (max-width: 992px) {
			max-width: 470px;
		}
	}
	&__text {
		@include adaptiveValue("font-size", 24, 16);
		font-weight: 300;
		line-height: 140%;
		color: #333;
		@include adaptiveValue("padding-bottom", 86, 30);
		@media (max-width: 992px) {
			max-width: 470px;
		}
	}
	&__form {
	}
	@media (max-width: 992px) {
		@include adaptiveValue("padding-left", 80, 0, 992, 500, 1);
	}
}

// form-catalog =================//

.form-catalog {
	position: relative;
	&__checkbox {
		@include adaptiveValue("margin-bottom", 70, 35);
	}
}
.form {
	&__input {
		border: 1px solid #000;
		background: rgba(196, 196, 196, 0.00);
		@include adaptiveValue("height", 90, 60);
		width: 100%;
		padding: 30px;
		@include adaptiveValue("font-size", 24, 18);
		color: #4f4f4f;
		font-weight: 300;
		margin-bottom: 15px;
		@media (max-width: 992px) {
			max-width: 440px;
		}
		@media (max-width: 400px) {
			padding: 15px;
		}
	}
	&__button {
		@include adaptiveValue("height", 110, 60, 1770, 500, 1);
		width: 100%;
		@media (max-width: 992px) {
			max-width: 440px;
		}
	}
}
.checkbox {
	&__input {
		display: none;
	}
	&__label {
		cursor: pointer;
		user-select: none;
		color: #333;
		font-weight: 300;
		font-size: 16px;
		line-height: 130%;
		position: relative;
		padding-left: 30px;
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 17px;
			height: 17px;
			background-color: #fff;
			border: 1px solid #333;
		}
		a{
			text-decoration: underline;
			&:hover{
				color: #000;
			}
		}
	}
}

.checkbox__input:checked + .checkbox__label{
	&::before{
		background-color: #333;
	}
}

.form__error{
	position: absolute;
	top: -30px;
	left: 0;
	color: red;
	@include adaptiveValue("font-size", 16, 14);
	@media (max-width: 500px) {
		top: -20px;
	}
}
._form-error{
	color: red;
}

.form__input._form-focus{
	color: #000;
	border: 1px solid #000;
	//border: none;
}
.form__input._form-error{
	border: 1px solid red;
}