//* projects ====================================================================================================//

.projects {
	.our-projects {
		@include adaptiveValue("padding-top", 80, 50, 1770, 767, 2);
		@media (max-width: 767px) {
			padding-top: 100px;
		}
	}
}

//! project ====================================================================================================//

.project {
	//display: none;
}

//* project-main ====================================================================================================//

.project-main {
	position: relative;
		&__image {
			position: relative;
			padding-bottom: 56%;
			@media (max-width: 500px) {
				padding-bottom: 70%;
			}
			img{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__author {
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
		}
}
.author-main {
	background: rgba(0, 0, 0, 0.50);
	@include adaptiveValue("padding-top", 45, 10);
	@include adaptiveValue("padding-bottom", 30, 12);
	@include adaptiveValue("padding-left", 60, 20);
	@include adaptiveValue("padding-right", 70, 20);
		&__title {
			@include adaptiveValue("font-size", 36, 14);
			color: #fff;
			line-height: 130%;
			padding-bottom: 12px;
		}
		&__label {
			@include adaptiveValue("font-size", 28, 12);
			color: #e0e0e0;
			font-weight: 300;
			@include adaptiveValue("padding-bottom", 20, 6);
		}
		&__space {
			@include adaptiveValue("font-size", 24, 10);
			font-weight: 300;
			color: #f2f2f2;
			@include adaptiveValue("padding-bottom", 45, 10);
		}
		&__person {
			@include adaptiveValue("font-size", 24, 12);
			font-weight: 300;
			color: #f2f2f2;
			line-height: 130%;
			a{
				color: #FAFF09;
			}
		}
}

//* project-description ====================================================================================================//

.project-description {
	@include adaptiveValue("padding-top", 90, 15);
	@include adaptiveValue("padding-bottom", 90, 15);
	&__body {
		display: flex;
		margin: 0px -15px;
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}
	&__subject {
		flex: 0 1 33.333%;
		padding: 0px 15px;
		@media (max-width: 767px) {
			flex: 0 1 100%;
			@include adaptiveValue("padding-bottom", 35, 15);
			text-align: center;
		}
	}
	&__text-block {
		flex: 0 1 77.777%;
		padding: 0px 15px;
		color: #4f4f4f;
		@include adaptiveValue("font-size", 24, 14);
		font-weight: 300;
		line-height: 145%;
		p:not(:last-child){
			@include adaptiveValue("padding-bottom", 30, 20);
		}
		@media (max-width: 767px) {
			flex: 0 1 100%;
			text-align: center;
		}
	}
}
.subject-description {
	&__title {
		@include adaptiveValue("font-size", 36, 18);
		line-height: 125%;
		padding-bottom: 5px;
	}
	&__label {
		@include adaptiveValue("font-size", 28, 14);
		font-weight: 300;
		color: #828282;
		@include adaptiveValue("padding-bottom", 50, 10);
		line-height: 120%;
	}
	&__space {
		@include adaptiveValue("font-size", 24, 12);
		color: #333;
		font-weight: 300;
	}
}

//* gallery-one ====================================================================================================//

.gallery-one {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	@media (max-width: 500px) {
		gap: 5px;
	}
	&__item {
		flex: 0 1 calc(50% - 5px);
		position: relative;
		padding-bottom: 50%;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&_big {
			flex: 0 1 100%;
		}
		@media (max-width: 500px) {
			flex: 0 1 100%;
			padding-bottom: 98%;
		}
	}
}

//* gallery-two ====================================================================================================//

.gallery-two {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	@media (max-width: 500px) {
		gap: 5px;
	}
	&__item {
		flex: 0 1 calc(33.333% - 7px);
		position: relative;
		padding-bottom: 50%;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&_big {
			flex: 0 1 100%;
		}
		@media (max-width: 500px) {
			flex: 0 1 100%;
			padding-bottom: 98%;
		}
	}
}

//! process ====================================================================================================//

.process {
	display: none;
}

//* process-stage ====================================================================================================//

.process-stage {
	@include adaptiveValue("padding-top", 50, 20);
	@include adaptiveValue("padding-bottom", 40, 30);
		&__container {
		}
		&__body {
			display: flex;
			gap: 30px;
			@media (max-width: 767px) {
				flex-wrap: wrap;
			}
		}
		&__step {
		}
		&__chat {
		}
}

// step-stage =================//
.step-stage {
	flex: 0 1 50%;
	@media (max-width: 767px) {
		flex: 0 1 100%;
	}
		&__box {
			display: flex;
			@include adaptiveValue("gap", 20, 12, 1770, 767, 1);
		}
		&__number {
			@include adaptiveValue("font-size", 72, 36);
			font-weight: 300;
		}
		&__content {
			max-width: 560px;
		}
		&__title {
			@include adaptiveValue("font-size", 36, 18);
			@include adaptiveValue("padding-bottom", 14, 8);
		}
		&__label {
			@include adaptiveValue("font-size", 24, 16);
			color: #4f4f4f;
			font-weight: 300;
			@include adaptiveValue("padding-bottom", 22, 15);
		}
		&__text {
			@include adaptiveValue("font-size", 18, 14);
			font-weight: 300;
			color: #4f4f4f;
			line-height: 130%;
		}
}

// chat-stage =================//
.chat-stage {
	flex: 0 1 50%;
	@media (max-width: 767px) {
		flex: 0 1 100%;
	}
	&__element {
			margin: 0 auto;
			background-color: #e0e0e0;
			@include adaptiveValue("padding-top", 20, 10);
			padding-bottom: 35px;
			@include adaptiveValue("padding-right", 40, 20);
			@include adaptiveValue("padding-left", 40, 20);
			max-width: 360px;
			position: relative;
			margin-bottom: 20px;
			&::after{
				content: '';
				position: absolute;
				bottom: -18px;
				left: 30px;
				width: 0;
				height: 0;
				border-left: 30px solid transparent;
				border-right: 30px solid transparent;
				border-top: 20px solid #e0e0e0;
			}
		}
		&__name {
			@include adaptiveValue("font-size", 18, 16);
			font-weight: 300;
			color: #828282;
			@include adaptiveValue("padding-bottom", 36, 15);
		}
		&__message {
			@include adaptiveValue("font-size", 18, 14);
			font-weight: 300;
			line-height: 130%;
			color: #000;
		}
}

// todo process-stage_two (from 2 message) =================//

.process-stage_two{

	.process-stage__body{
		@media (max-width: 992px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	.step-stage{
		@media (max-width: 992px) {
			flex: 0 1 calc(50% - 15px);
		}
		@media (max-width: 600px) {
			flex: 0 1 100%;
		}
	}

	.chat-stage {
		&__element{
			@media (max-width: 600px) {
				margin: 0;
			}
		}
		&_dark{
			.chat-stage__element{
				background-color: #333;
				margin-top: 120px;
				&::after{
					border-top: 20px solid #333;
					left: calc(100% - 100px);
					//right: 30px;
				}
				.chat-stage__message{
					color: #fff;
				}
				@media (max-width: 992px) {
				margin: 0;
				}
				@media (max-width: 600px) {
					margin-left: auto;
					margin-top: 10px;
				}
			}
		}
		@media (max-width: 992px) {
			flex: 0 1 calc(50% - 15px);
		}
		@media (max-width: 600px) {
			flex: 0 1 100%;
		}
	}
}

//* process-design ====================================================================================================//

.process-design {
	&__body {
		display: flex;
		gap: 10px;
		@media (max-width: 500px) {
			flex-wrap: wrap;
			gap: 5px;
		}
	}
	&__item-ibg {
		padding-bottom: 39%;
		flex: 0 1 33.333%;
		@media (max-width: 500px) {
			flex: 0 1 100%;
			padding-bottom: 59%;
		}
	}
	&__item {
		&_big {
			flex: 0 1 66.666%;
			@media (max-width: 500px) {
				flex: 0 1 100%;
			}
		}
	}
}

//* process__gallery-two ====================================================================================================//

.process__gallery-two{
	margin-top: 50px;
}
#gallery-two-modify{
	margin-top: 10px;
	@media (max-width: 500px) {
		margin-top: 5px;
	}
}

// repair ====================================================================================================//

.repair {
	@include adaptiveValue("padding-top", 40, 20);
	@include adaptiveValue("padding-bottom", 40, 20);
	&__container {
	}
	&__body {
		display: flex;
		gap: 10px;
		@media (max-width: 500px) {
			flex-wrap: wrap;
			gap: 5px;
		}
	}
	&__item-ibg {
		flex: 0 1 50%;
		padding-bottom: 29%;
		@media (max-width: 500px) {
			flex: 0 1 100%;
			padding-bottom: 59%;
		}
	}
}

//* process-video ====================================================================================================//

.process-video {
	@include adaptiveValue("padding-top", 50, 30);
	&__container {
	}
	&__body-ibg {
		padding-bottom: 53%;
		display: block;
		position: relative;
		&::after{
			transition: all 0.5s ease 0s;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&:hover{
			&::after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				background: rgba(0, 0, 0, 0.60);
			}
			.process-video__play{
				transform: scale(1.1);
			}
		}
	}
	&__play {
		transition: all 0.3s ease 0s;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		//transition: all 0.3s ease 0s;
		img{
			object-fit: none;
			
		}
	}
}
.process-video__block_one{
	@media (max-width: 500px) {
		display: none;
	}
}
.process-video__block_two{
	display: none;
	@media (max-width: 500px) {
		display: block;
	}
}